<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<typeAliases>
<!-- <typeAlias type="annotation.springmvc.mybatis.MemberDTO" alias="memberdto"/> -->
<typeAlias type="boardmapper.MemberDTO" alias="memberdto"/>
<typeAlias type="boardmapper.BoardDTO" alias="boarddto"/>
</typeAliases>


</configuration>





